.x-panel .x-panel-default .x-border-box
    {
        margin-top:0px !important;
    }
.x-tab-bar 
    {
       height:80px;
   }
#tabpanel-1010-body
    {
        top:80px !important;
    }
#tabbar-1011-innerCt
    {
        height:60px !important;
    }
#tab-1032-btnEl
    {
        height:50px;
    }
 #tab-1045
    {
        height:50px;
    }
#button-1028
    {
        height:80px;
    }
#button-1021
    {
        height:80px;
    }
#tabbar-1011
    {
        border-bottom:2px solid #ff6600;
    }
#txtsearch
    {
        display:inline-block;
        margin-left:50px;
    }
 #mnpanel1
    {
        top:0px !important;
    }